{% extends 'base.html' %}
{%  block content %}

        <script>
            var NOTIFICATION_COOLDOWN = 15000;

            window.onload = Notification.requestPermission(function(status) {
                console.log('Notifications allowed?: ', status==="granted");
            });

            function displayNotification(topic, message) {
              if (Notification.permission == 'granted') {
                new Notification(topic, {body: message});
              }
            }

            function displayMessage(item){
                if(item['topic'] !== undefined && item['message'] !== undefined){
                    displayNotification(item['topic'], item['message']);
                }
            }

            var timer = setInterval(getNotifications, NOTIFICATION_COOLDOWN);

            function getNotifications() {
                var notifications_endpoint="get_notifications"
                request = new XMLHttpRequest();
                request.onreadystatechange = function () {

                    if (request.readyState == 4 && request.status == 200) {
                        var message_data = JSON.parse(request.responseText);
                        displayNotification(message_data["messages"].forEach(displayMessage));
                    }
                };

                request.open("GET", notifications_endpoint, true);
                request.send();
            }
        </script>

    <meta charset="UTF-8">
    <title>Plantspeak - Dashboard</title>

        <!--
<i class="fa fa-star"></i>
<i class="fas fa-lightbulb"></i>
<i class="far fa-lightbulb"></i>
<i class="fa fa-users"></i>
<i class="fa fa-user"></i>
<i class="fa fa-tree"></i>
<i class="fa fa-hourglass-end"></i>
<i class="fa fa-plus"></i>
<i class="fa fa-trash"></i>

<span class="d-inline-block" data-bs-toggle="tooltip"  title="Temperature too low" data-bs-animation=true style="color:skyblue">
     <i class="fa fa-snowflake"></i>
</span>

<span class="d-inline-block" data-bs-toggle="tooltip"  title="Temperature too high" data-bs-animation=true style="color:red">
      <i class="fa fa-thermometer-full"></i>
</span>
-->

    <h2>Dashboard</h2>


    {% if plants_with_problems == 0 %}
<i class="fa fa-check"></i>
        <b>None</b> of your plants need attention.
    {% elif plants_with_problems>0 %}
<span class="d-inline-block" style="color: orange">
<i class="fa fa-exclamation-triangle"></i>
</span>
        <b>{{ plants_with_problems }}</b> of your plants <b>need attention</b>.
    {% endif %}

    <h3>My Saved Plants</h3>
    {{ table }}

{%  endblock %}