{% extends 'base.html' %}

{% block content %}
    <style>
        body { 
            background-image: url("static/images/background2.jpeg");
            background-repeat: repeat;
            background-size: cover;
            background-position: fixed;
            height: 100vh;
            }
    </style>
    <div class="card card-body bg-dark text-light col-lg-12">
        <h2>Devices Located</h2>
            <div class="table-responsive">
                {{table}}
            </div>
    </div>
{% endblock %}