{%  extends 'base.html' %}

{%  block content %}
    {% from "_formlayout.html" import generate_field %}
    <!-- <form method="post">
    {{ generate_field(form.email) }}
    {{ generate_field(form.username) }}
    {{ generate_field(form.password) }}
    {{ generate_field(form.confirm_password) }}
    <input type="submit" value="Submit">
        {{error}}
    </form> -->


    <body>
    {% from "_formlayout.html" import generate_field %}

    <!-- <h2>Register</h2>
    <hr>
 <form method="post">
{{ generate_field(form.email) }}
{{ generate_field(form.username) }}
{{ generate_field(form.password) }}
{{ generate_field(form.confirm_password) }}
    <br>
<input type="submit" value="Submit" class="btn btn-info" style="float: right;">

</form> -->
    <style>
        body { 
        background-image: url("static/images/background1.jpg");
        background-repeat: repeat;
        background-size: cover;
        background-position: fixed;
        height: 100vh;
        }
    </style>
    <div class="row justify-content-center align-items-center">
        <div class="card bg-dark text-light col-lg-4 col-md-6 col-sm-8" style="opacity: 0.9"><br>
        <h3 class="text-center">Register</h3>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="form-control">Email</label><br>
                        <input type="text" name="email" id="email" class="col-md-12">
                    </div>
                    <div class="form-group">
                        <label for="form-control">User name</label><br>
                        <input type="text" name="username" id="username" class="col-md-12">
                    </div>
                    <div class="form-group">
                        <label for="form-control">Password</label><br>
                        <input type="password" name="password" id="password" class="col-md-12">
                    </div>
                    <div class="form-group">
                        <label for="form-control">Confirm The Password</label><br>
                        <input type="password" name="confirm_password" id="confirm_password" class="col-md-12">
                    </div>
                    <input type="submit"  name="submit" class="btn btn-info btn-md float-right" value="Submit">
                </form>
            </div>
        </div>
    </div>
{%  endblock %}
