:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #ececec;
  --text-secondary: #f1f503;
  --bg-primary: #5bc0de;
  --bg-secondary: #91cea5;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #eaeaea;
}

main {
  margin-left: 10rem;
  margin-top: 5rem;
  padding: 1rem;
}

.sidenavbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  margin-top:40px;
  z-index: 1;
}

.sidenavbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidenav-item {
  width: 100%;
}

.sidenav-item:last-child {
  margin-top: auto;
}

.sidenav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.sidenav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.sidelink-text {
  display: none;
  margin-left: 1rem;
}

.sidenav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #86989c;
}

.fa-secondary {
  color: #5bc0de;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.sidenavbar:hover .logo svg {
  transform: rotate(-180deg);
}

.navbar-text{
  font-size: small;
}
.nav-item{
  margin-left: 4rem;
  
}
.fa-user-circle{
  margin-top: 1rem;
  margin-left: 4rem;
}
/* Small screens */
/* @media only screen and (max-width: 600px) {
  .sidenavbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .sidenavbar-nav {
    flex-direction: row;
  }

  .sidenav-link {
    justify-content: center;
  }

  main {
    margin-left: 5rem;
    margin-top: 5rem;
    padding: 1rem;
  }
}

/* large screen */
@media only screen and (min-width: 600px) {
  .sidenavbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidenavbar:hover {
    width: 16rem;
  }

  .sidenavbar:hover .link-text {
    display: inline;
  }

  .sidenavbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .sidenavbar:hover .logo-text
  {
    left: 0px;
  }
} 

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}



.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}




#login .container #login-row #login-column #login-box {
    margin-top: 80px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    margin-top: -5px;
  }

  #register .container #register-row #register-column #register-box {
    margin-top: 80px;
    max-width: 600px;
    height: 520px;
    border: 1px solid #9C9C9C;
    background-color: #eaeaea;
  }
  #register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
  }
  #register .container #register-row #register-column #lregister-box #register-form {
    margin-top: -85px;
  }

  #createUser .container #createUser-row #createUser-column #createUser-box {
    margin-top: 80px;
    max-width: 600px;
    height: 400px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #createUser .container #createUser-row #createUser-column #createUser-box #createUser-form {
    padding: 20px;
  }
  #createUser .container #createUser-row #createUser-column #createUser-box #createUser-form {
    margin-top: -5px;
  }
 .box1{
  margin-top: 110px;
  max-width: 1000px;
  height: 800px;
  border: 1px solid #9C9C9C;
  background-color: #eaeaea;
  padding: 50px;
  margin-top: -15px;
 }